.container {
  display: flex;
  justify-content: space-between; /* распределяет элементы по краям */
  align-items: center;
  padding: 20px;
}

.title {
  margin-top: 0px;
  margin-bottom: 30%;
  color: #cc0000;
  width: 15%;
}

.whiteSquare {
  width: 70%;
  height: 500px;
  background-color: white;
  border: 4px solid #cc0000;
  border-radius: 5px;
  position: relative;
  /* margin: 50px auto; */
  right: -2.5%;
}

.image {
  width: 70%;
  height: 70%;
  object-fit: cover;
  position: absolute;
  top: 15%;
  left: -22.8%;
  border-radius: 5px;
}

.aboutText {
  position: absolute;
  bottom: 10px;
  top: 20%;
  right: 15%;
  width: 30%;
  font-size: 22px;
}
.section {
  height: 600px;
}
.buttonImage {
  width: 100%;
  height: auto;
}
.imageContainer {
  position: relative;
  width: 100vw;
  height: auto;
}

.mainImage {
  width: 100%;
  height: auto;
}
.linkText {
  margin-top: 6vw;
}
.overlayButton {
  position: absolute;
  left: 57.8%;
  top: 83%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: auto;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.overlayButtonModal {
  position: absolute;
  left: 49.8%;
  top: 77%;
  transform: translate(-50%, -50%);
  width: 3.5vw;
  height: auto;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.arrow1:hover {
  transform: scale(1.15); /* Увеличиваем эффект при наведении */
}

.arrow1:active {
  transform: scale(1); /* Убираем эффект увеличения при клике */
}
.arrow1 {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 25px;
  margin: 10px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.3s ease;
  position: absolute;
  bottom: 9.5%;
  right: 61%;
}

.arrow1 div {
  position: relative;
  top: 10px;
  width: 45px; /* Уменьшили с 90px */
  height: 5px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}
.arrow1Button div {
  position: relative;
  top: 10px;
  width: 45px; /* Уменьшили с 90px */
  height: 5px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}
.arrow1Button {
  cursor: pointer;
  width: 40px;
  height: 25px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: transform 0.3s ease;
  margin-left: 44%;
}
.arrow1Button:hover {
  transform: scale(1.15); /* Увеличиваем эффект при наведении */
}

.arrow1Button:active {
  transform: scale(1); /* Убираем эффект увеличения при клике */
}
.arrow1Button div::after {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: -5.5px;
  right: -4px;
  background-color: #cc0000;
  transform: rotate(45deg);
}

.arrow1Button div::before {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: 5.5px;
  right: -4px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.arrow1 div::after {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: -5.5px;
  right: -4px;
  background-color: #cc0000;
  transform: rotate(45deg);
}
.aboutTextMoreButton {
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  top: 77%;
  right: 42%;
  color: blue;
}
.arrow1 div::before {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: 5.5px;
  right: -4px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 3.2vw;
  border-radius: 8px;
  border: 2px solid #cc0000;
  /* min-width: 300px; */
  max-width: 27vw;
  position: relative;
  text-align: center;
  max-height: 35vw;
}

.modalContent p {
  font-size: 1.3vw;
}
.aboutTextMore {
  font-size: 25px;
  text-align: left;
}
/* Стили для кнопки закрытия */
.closeButton {
  padding: 8px 20px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.closeButton:hover {
  background-color: #a30000;
}

@media (max-width: 408px) and (min-width: 359px) {
  .overlayButton {
    top: 81%;
  }
}
@media (max-width: 358px) and (min-width: 305px) {
  .overlayButton {
    top: 80%;
  }
}
@media (max-width: 304px) and (min-width: 273px) {
  .overlayButton {
    top: 79%;
  }
}
@media (max-width: 272px) and (min-width: 239px) {
  .overlayButton {
    top: 78%;
  }
}
@media (max-width: 238px) and (min-width: 209px) {
  .overlayButton {
    top: 77%;
  }
}
@media (max-width: 508px) and (min-width: 409px) {
  .overlayButton {
    top: 82%;
  }
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .whiteSquare {
    width: 90%;
    height: auto;
    min-height: 300px;
    margin: 20px auto;
  }

  .image {
    width: 90%;
    height: 50%;
    top: 10%;
    left: 5%;
  }

  .aboutText {
    position: static;
    width: 90%;
    margin: 60% auto 10px;
    text-align: center;
  }

  .section {
    height: auto;
    min-height: 100vh;
  }
}
@media (min-width: 1500px) {
  .image {
    width: 45%;
  }
  .aboutText {
    width: 50%;
    font-size: 30px;
  }
}
