.container {
  font-family: Roboto;
  max-width: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100vw;
  height: 5vw;
}
.berlin {
  width: 100vw;
}
